ul.add-pizza__list 
    li
        a(href="#").add-pizza__cart
            +add-pizza('mushrooms.png', 'Шампиньоны', '25 ₽')
    li
        a(href="#").add-pizza__cart
            +add-pizza('cheese.png', 'Сыр блю чиз', '54 ₽')
    li
        a(href="#").add-pizza__cart
            +add-pizza('pepperoni.png', 'Пепперони', '39 ₽')
    li
        a(href="#").add-pizza__cart
            +add-pizza('mushrooms.png', 'Шампиньоны', '25 ₽')