//BEGIN header
header.header
  button.header__button-menu
    span.visually-hidden Открыть меню
  a(href='shop-cart.html').header__button-basket
    strong.header__total-cost 2235 ₽
    div.header__container
      +icon('header__cart', 'header__icon')
      span.header__count 3

include _menu