
ul.order__list 
  li
    a(href="#").order__cart 
      +order('cocacola.jpg', 'Кока-Кола', '0.5л', '85 ₽')
  li
    a(href="#").order__cart  
      +order('potato.jpg', 'Картошка', '200г', '125 ₽')
  li
    a(href="#").order__cart 
      +order('cocacola.jpg', 'Кока-Кола', '0.5л', '85 ₽')
  li
    a(href="#").order__cart  
      +order('potato.jpg', 'Картошка', '200г', '125 ₽')
  li
    a(href="#").order__cart 
      +order('cocacola.jpg', 'Кока-Кола', '0.5л', '85 ₽')
  li
    a(href="#").order__cart  
      +order('potato.jpg', 'Картошка', '200г', '125 ₽')