ul.popular-dishes__list
    li
        a(href='product-detail.html').popular-dishes__cart
            +dishes('pizza-pepperoni.png', '420г', '30см', 'Пепперони', 'пикантная пепперони, томатный соус, моцарелла', '395 ₽','New')
    li
        a(href='#').popular-dishes__cart
            +dishes('pizza-italian.png', '390г', '30см', 'Итальянская', 'итальянские травы, пепперони, томатный соус, шампиньоны, моцарелла, маслины', '450 ₽', 'Sale')
    li
        a(href='#').popular-dishes__cart
            +dishes('diablo1.png', '500г', '30см', 'Диабло', 'филе говядины, вяленые помидоры, помидоры, перец сладкий, моцарела', '545 ₽', '')
    li
        a(href='#').popular-dishes__cart
            +dishes('pizza-pepperoni.png', '420г', '30см', 'Пепперони', 'пикантная пепперони, томатный соус, моцарелла', '395 ₽','New')
    li
        a(href='#').popular-dishes__cart
            +dishes('pizza-italian.png', '390г', '30см', 'Итальянская', 'итальянские травы, пепперони, томатный соус, шампиньоны, моцарелла, маслины', '450 ₽', 'Sale')
    li
        a(href='#').popular-dishes__cart
            +dishes('diablo1.png', '500г', '30см', 'Диабло', 'филе говядины, вяленые помидоры, помидоры, перец сладкий, моцарела', '545 ₽', '')
    