div.glide
  div(data-glide-el="track").glide__track
    ul.glide__slides
      li.glide__slide
        a(href="#")   
          div.slider__flex
            img(class="slider__img" src='img/slide-diablo.png', width="95px", height="95px" )
            div.slider__flex-item
              strong.slider__news Новинка
              h2.slider__title Пицца "Диабло"
              +button('545 ₽', 'slider__button')

      li.glide__slide
        a(href="#")   
          div.slider__flex
            img(class="slider__img" src='img/slide-diablo.png', width="95px", height="95px" )
            div.slider__flex-item
              strong.slider__news Новинка
              h2.slider__title Пицца "Диабло"
              +button('545 ₽', 'slider__button')

      li.glide__slide
        a(href="#")   
          div.slider__flex
            img(class="slider__img" src='img/slide-diablo.png', width="95px", height="95px" )
            div.slider__flex-item
              strong.slider__news Новинка
              h2.slider__title Пицца "Диабло"
              +button('545 ₽', 'slider__button')

      li.glide__slide
        a(href="#")   
          div.slider__flex
            img(class="slider__img" src='img/slide-diablo.png', width="95px", height="95px" )
            div.slider__flex-item
              strong.slider__news Новинка
              h2.slider__title Пицца "Диабло"
              +button('545 ₽', 'slider__button')

  div(data-glide-el="controls[nav]").glide__bullets
    button(data-glide-dir="=0").glide__bullet
    button(data-glide-dir="=1").glide__bullet
    button(data-glide-dir="=2").glide__bullet
    button(data-glide-dir="=3").glide__bullet