.icon-arrow-right {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-buy {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close-menu {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-delete {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-header__cart {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-headset {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-like-fill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-newspaper {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shopping-bag {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-size {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-truck {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-voucher {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-weight {
  width: 1em;
  height: 1em;
  fill: initial;
}
